@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  border: 1px solid fuchsia;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#coders-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 40px;
  row-gap: 30px;
}

body {
  height: 100%;
  max-width: 100%;
  margin:0;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.form_page{
  max-width: 400px;
}

.coder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 85%;
  border-radius: .45rem;
  margin-bottom: 50px;
}

.coder-info {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.dare-page button {
  width: 30%;
}

/* .dare-page img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: .45rem;
  box-shadow: 0 11px 32px rgb(31 119 166 / 40%);
} */


h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  color: orange;
  font-size: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
  font-style:italic;
}

p {
  border-left: 3px solid darkslateblue;
  padding: 10px;
  font-family: Raleway, sans-serif;
  font-size: 25px;
}

h3 {
  color: darkslategrey;
  font-size: 16px;
  text-align: center;
  font-family: spartan, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

button {
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 1.25rem;
  font-family: raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
  background-color: orange;
  color: white;  
  border-radius: 160px;
  margin-top: 30px;
  box-shadow: 0 4px 10px 0 rgb(17 0 0 / 23%);
  cursor: pointer;
}

button:hover {
  background-color: turquoise;
}

button a {
  color: white;
}

.dare p {
  padding: 5px 30px 5px 30px;
  font-family: spartan, sans-serif;
}

.dare li {
  text-align: left;
  font-family: spartan, sans-serif;
}