.impact-intro {
    padding: 10px 50px 10px 50px;

}
.impact-div {
    width: 100%;
}

.impact-img {
    width: 550px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 11px 32px rgb(31 119 166 / 40%);
    border-radius: .45rem;
}
