.footer {
    background-color: #8246AF;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer a {
    color: white;
    padding: 40px;
}