.footer {
    background-color: #8246AF;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px;
}

.footer a {
    color: white;
    padding: 10px;
}

.logomedia {
    position: relative;
    width: 30px;
    padding: 10px;
}

.socials a {
    padding: 0;
}